
{% from '../core/favicons.twig' import Favicons %}
{% from '../core/fonts.twig' import Fonts %}
{% from '../core/macros.twig' import Id, RandomText, RandomTextContent, RandomTextLowercase %}

{% from '../components/title.twig' import Title %}

{% from '../layout/footer.twig' import Footer %}
{% from '../layout/header.twig' import Header %}
{% from '../layout/subnavigation.twig' import Subnavigation %}

<!doctype html>
<html class="preload" data-page="{{ data.pageId }}" data-subpage="{{ data.subpageId }}" data-theme="{{ data.pageTheme }}" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Ccrch">
    <meta name="description" content="Your stuff for good.">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    {{ Favicons(data.pageId) }}
    {{ Fonts() }}  
    <link href="{% if data.pageId != 'index' %}../{% endif %}assets/styles.min.css?v={{ 'now'|date('YmdHi') }}" rel="stylesheet" />
    <script src="{% if data.pageId != 'index' %}../{% endif %}assets/scripts.min.js?v={{ 'now'|date('YmdHi') }}" type="text/javascript" defer></script>
    <style>
      .preload { opacity: 0; }
    </style>
    <title>{{ data.pageTitle }} − miako</title>
  </head>
  <body>
    <div class="app">
      {% block Content %}{% endblock %}
      {{ Footer() }}
      <label class="app__warning"><input type="checkbox">Please watch in portrait mode.</label>
    </div>
  </body>
</html>
