
{% from '../core/favicons.twig' import Favicons %}
{% from '../core/fonts.twig' import Fonts %}
{% from '../core/macros.twig' import Id, RandomText, RandomTextContent, RandomTextLowercase %}

{% from '../layout/footer.twig' import Footer %}
{% from '../layout/header.twig' import Header %}

<!doctype html>
<html class="preload" data-page="{{ data.pageId }}" data-theme="{{ data.pageTheme }}" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Ccrch">
    <meta name="description" content="Your stuff for good.">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {# <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"> #}
    
    {# <link rel="manifest" href="/miako-mobile-prototype/manifest.json">
    <meta name="theme-color" content="#a363d9" media="(prefers-color-scheme: light)">
    <meta name="theme-color" content="#a363d9" media="(prefers-color-scheme: dark)">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="msapplication-navbutton-color" content="#a363d9">
    <meta name="mask-icon" content="/safari-pinned-tab.svg" color="#a363d9"> #}
    {{ Favicons(data.pageId) }}
    {{ Fonts() }}
    <link href="{% if data.pageId != 'index' %}../{% endif %}assets/styles.min.css?v={{ 'now'|date('YmdHi') }}" rel="stylesheet" />
    <script src="{% if data.pageId != 'index' %}../{% endif %}assets/scripts.min.js?v={{ 'now'|date('YmdHi') }}" type="text/javascript" defer></script>
    <style>
      .preload { opacity: 0; }
    </style>
    <title>{{ data.pageTitle }} − miako</title>
  </head>
  <body>
    <div class="app">
      {% block Content %}{% endblock %}
      {{ Footer({
        pageId: data.pageId,
      }) }}
    </div>
  </body>
</html>
