
{%- from "../extends/macros.twig" import Id, RandomText, RandomTextContent, RandomTextLowercase -%}

<!doctype html>
<html class="{{ data.HtmlClass }} preload" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Ccrch">
    <meta name="description" content="Your stuff for good.">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      .preload { opacity: 0; }
    </style>
    <title>{{ data.Title }} − miako</title>
    {{ data.Head|raw }}
    <link href="/assets/styles.min.css?v={{ 'now'|date('YmdHi') }}" rel="stylesheet" />
    <script src="/assets/scripts.min.js?v={{ 'now'|date('YmdHi') }}" type="text/javascript" defer></script>
  </head>
  <body class="{{ data.BodyClass }}">
    {% block Content %}{% endblock %}
  </body>
</html>
