
{% macro Header(props) %}

  <header class="header">
    <div class="header__navigation">
      <nav class="header__links">
        <a class="header__link" href="../cart">
          {{ source('src/assets/icons/navigation/cart.svg')|raw }}
          {{ source('src/assets/icons/navigation/cart-color.svg')|raw }}
          Cart
        </a>
        <a class="header__link" href="../messages--all">
          {{ source('src/assets/icons/navigation/message.svg')|raw }}
          {{ source('src/assets/icons/navigation/message-color.svg')|raw }}
          Messages
        </a>
        <a class="header__link" href="../profile--dashboard">
          {{ source('src/assets/icons/navigation/profile.svg')|raw }}
          {{ source('src/assets/icons/navigation/profile-color.svg')|raw }}
          Profile
        </a>
      </nav>
    </div>
    <h1 class="header__headline h2">{{ props.headline }}</h1>
    {% if props.text %}
      <h2 class="header__text">{{ props.text|raw }}</h2>
    {% endif %}
    {% if props.search %}
      <form action="../search" class="header__search" method="post">
        <div class="input">
          <input name="search" placeholder="{{ props.searchPlaceholder }}" type="text">
        </div>
        <button class="button header__search-button" type="submit">
          {{ source('src/assets/icons/navigation/search.svg')|raw }}
          Search
        </button>
      </form>
    {% endif %}
    <div class="header__unicorn">
      {{ source('src/assets/images/unicorn.svg')|raw }}
    </div>
  </header>

{% endmacro %}
